.place__website_url-heading {
  color: #aaaaaa;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

@media screen and (max-width: 750px) {
  .place__website_url-heading {
    padding: 0 0 12px 0;
    margin: 0;
  }
}
